<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select formControlName="period">
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Form submit button should not be enabled until the form is in the valid state. -->
  <button (click)="fetchQuote()" [disabled]="!stockPickerForm.valid" mat-raised-button>Go</button>
</form>

<!-- <coding-challenge-chart [data$]="quotes$"></coding-challenge-chart> -->

<!-- I redesigned the way the data is passed between the stocks and chart components. 
  You were passing an Observable. It was subscribed to but never unsubscribed. 
  This is a bad practice that can cause memory leaks. I redesigned using "async" pipe. 
  The pipe will unsubscribe from the Observable. -->
<ng-container *ngIf="quotes$ | async as quotes">
  <coding-challenge-chart [data]="quotes"></coding-challenge-chart>
</ng-container>
